* {
  font-family: Raleway, sans-serif;
}

.navbar{
  background-color: #ffffff;
}

.navbar-right{
  margin-right: 0px !important;
}

#olympics-logo-small{
  background: url('../assets/images/olympics-logo.svg') no-repeat;
  background-size: contain;
  border-radius: 10px;
  width: 50px;
  height: 30px;
  margin: 10px 0px 0px 15px;
}

.navbar-toggle{
  background-color: #000000;
}

.navbar-toggle{
  border-color: #ffffff;
}

.navbar-toggle .icon-bar{
  background-color: #ffffff;
  color: #ffffff;
}

.navbar-brand a:hover{
  text-decoration: none;
}

.navbar-right{
  font-size: 15px;
}

i{
  margin-right: 10px;
}

.dropdown-menu{
  min-width: 150px;
}

.dropdown-menu li{
  height: 30px;
}

.dropdown-menu > li > a:hover{
  background-color: #f0f0f0;
  color: #000000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 0;
    background-color:rgba(128, 128, 128, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 5px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .feed {
    padding-left: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}