<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a href="/" class="pull-left">
            <div id="olympics-logo-small" alt="Logo" class="pull-left"></div>
        </a>
        <div class="navbar-brand">
            <a href="/">Olympedia</a>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="navbar-collapsable">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i> Search <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="text-center"><a href="/search/sports"><i class="fa fa-trophy" aria-hidden="true"></i> Sports</a></li>
                    <li class="text-center"><a href="/search/players"><i class="fa fa-users" aria-hidden="true"></i> Players</a></li>
                </ul>
            </li>
            <li><a href="/analyse"><i class="fa fa-line-chart" aria-hidden="true"></i> Analyse</a></li>
        </ul> 
    </div>
</nav>