<!DOCTYPE html>
<html lang="en">
    <% include head %>
        <script type="text/javascript">
            window.onload=function(){
                var submitbutton=document.getElementById("tfq");
                if(submitbutton.addEventListener){
                    submitbutton.addEventListener("click",function(){
                        if (submitbutton.value=='Search'){
                            submitbutton.value='';
                        }
                    });
                }
            }
        </script>

    <body>

        <header>
            <% include header %>
        </header>
        <form method="get" action="www.google.com">
            <input type="text" size="21" maxlength="120"><input type="submit" value="">
        </form>
        <div id="main-content">
            <div id="title" class="jumbotron">
                <div id="title-content">
                    <h1>Olympedia</h1>
                    <p>Get any information about the games and players</p>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapsable">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i> Search <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="text-center"><a href="/search/sports"><i class="fa fa-trophy" aria-hidden="true"></i> Sports</a></li>
                    <li class="text-center"><a href="/search/players"><i class="fa fa-users" aria-hidden="true"></i> Players</a></li>
                </ul>
            </li>
            <li><a href="/analyse"><i class="fa fa-line-chart" aria-hidden="true"></i> Analyse</a></li>
        </ul> 
    </div>

        <footer>
            <% include footer %>
        </footer>

    </body>
</html>





