<!DOCTYPE html>
<html lang="en">
    <head>
        <% include head %>
    </head>

    <body>

        <header>
            <% include header %>
        </header>

        <div id="main-content">
            <div id="title" class="jumbotron">
                <div id="title-content">
                    <h1>Olympedia</h1>
                    <p>Get any information about the games and players</p>
                </div>
            </div>
        </div>

        <footer>
            <% include footer %>
        </footer>

    </body>
</html>