<!DOCTYPE html>
<html lang="en">
    <head>
        <% include head %>
        <link href="/stylesheets/players.css" rel="stylesheet">
    </head>

    <body>

        <header>
            <% include header %>
        </header>

        <div id="main-content">
            <form action="/search/players" method="post">
				Players' Name: <input type="text" name="pname"><br>
                Country: <input type="text" name="pcountry"><br>
				<input type="submit" value="Submit">
			</form>
            <% if (is_result) {%>
                <table>
                    <% for(var i=0; i < result.length; i++) { %>
                        <tr class="clickable-row" data-name='<%= result[i].Name %>' data-country='<%= result[i].Country%>'>
                            <td><%= result[i].Name %></td>
                            <td> &nbsp; </td>
                            <td><%= result[i].Country %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>

        <footer>
            <% include footer %>
            <script src="/javascript/players.js"></script>
        </footer>

    </body>
</html>